---
- name: "Fetch Kibana"
  get_url: url={{kibana.url}}/{{kibana.archive }}
           dest={{kibana.tmp_dir}}/{{kibana.archive }} mode=0400

- name: "Create Kibana directory"
  file: path={{kibana.dir}} group=root owner=root mode=0755 state=directory

- name: "Extract Kibana"
  command: chdir={{kibana.dir}} creates="{{kibana.dir}}/README.md"
           tar xfz {{tmp_dir}}/{{kibana.archive}} --strip-components=1

- name: "Change Elasticsearch IP"
  lineinfile: "dest={{kibana.dir}}/{{kibana.config}} state=present
              regexp='^ *elasticsearch:.*,$'
              line='    elasticsearch:  \"http://{{with_elasticsearch}}:9200/\",'"
  when: with_elasticsearch is defined
